<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Tailwind CSS -->
    <link href="{{ url_for('static', filename='tailwind.css') }}" rel="stylesheet">
</head>

<body>
    <section class="flex flex-wrap">
        <section class="text-gray-600 body-font flex flex-col overflow-hidden w-3/4">

            <div class="container px-5 py-12 mx-auto">
                <h2 class="text-xl mx-auto mb-5 text-blue-500 tracking-widest font-medium title-font text-center">
                    Questions found in the
                    document
                </h2>
                <div class="-my-8 divide-y-2 divide-gray-100">
                    {%for q in questions%}

                    <div
                        class="py-8 my-10 w-full flex flex-row border-2 rounded-lg border-gray-200 border-opacity-50 p-8 ">

                        <div class="w-full">
                            <h2 class="text-gray-900 w-full text-lg title-font font-medium mb-3">{{q[0]}}</h2>
                            <div class="relative mb-0">
                                <label for="option_a" class="leading-7 text-sm text-gray-600">Option A</label>
                                <input type="option_a" id="option_a" name="option_a" value="{{q[1]}}"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-0">
                                <label for="option_b" class="leading-7 text-sm text-gray-600">Option B</label>
                                <input type="option_b" id="option_b" name="option_b" value="{{q[2]}}"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-0">
                                <label for="option_c" class="leading-7 text-sm text-gray-600">Option C</label>
                                <input type="option_c" id="option_c" name="option_c" value="{{q[3]}}"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <div class="relative mb-0">
                                <label for="option_d" class="leading-7 text-sm text-gray-600">Option D</label>
                                <input type="option_d" id="option_d" name="option_d" value="{{q[4]}}"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>

                        </div>
                        <div
                            class="dragarea mt-1 flex justify-center ml-3 w-3/8 px-6 pt-5 pb-6 border-2 border-gray-500 border-dashed rounded-md">
                            <!-- <div class="space-y-1 text-center">
                                <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
                                <div class="flex text-sm text-gray-600">
                                    <label for="file-upload">
                                        <input type="file" id="input-file-max-fs" class="file-upload self-center" data-max-file-size="20M" />
                                    </label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    {%endfor%}




                </div>
            </div>
        </section>
        <section
            class="text-gray-600 body-font flex flex-col overflow-hidden w-1/4 h-screen container px-5 py-12 mx-auto">
            <h2 class="text-xl mx-auto mb-5 text-blue-500 tracking-widest font-medium title-font text-center	">Images
                found in the document</h2>
            {%for i in imgpaths%}
            <div class="drag-img md:w-64 my-auto mx-auto flex flex-col item-center">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{i}}" alt="content">

            </div>
            {%endfor%}
        </section>
    </section>
    <script>
        console.log('Hello');

        var p = document.querySelector('.drag-img');
        var choice = document.querySelectorAll('.dragarea');

        p.addEventListener('dragStart', dragStart);
        p.addEventListener('dragEnd', dragEnd);
        // for(let i of p){
        //     i.addEventListener('dragStart',dragStart);
        //     i.addEventListener('dragEnd',dragEnd);
        // }

        function dragStart() {
            setTimeout(() => (this.className = 'invisible'), 0);
            // console.log('drag start');
        }

        function dragEnd() {
            this.className = '.drag-img';
            // console.log('drag end');
        }

        for (j of choice) {
            j.addEventListener('dragover', dragOver);
            j.addEventListener('dragenter', dragEnter);
            j.addEventListener('dragLeave', dragLeave);
            j.addEventListener('drop', Drop);
        }

        function dragOver(e) {
            e.preventDefault();
            this.style.border = "2px dotted";
            // console.log('drag over');
        }
        function dragEnter(e) {
            e.preventDefault();
            // console.log('drag enter');
        }
        function dragLeave() {
            this.style.border = "2px dotted";
            // console.log('drag leave');
        }
        function Drop() {
            this.append(p);
            console.log('drop');
        }
    </script>
</body>

</html>